{% load static %}
<style>
    a:hover {
        text-decoration: none;
    }
</style>
<div class="">
    <div class="topbar">
        <div class="logo">
            <a href="{% url 'index' %}"><h2>cafe<span style="color:rgb(171, 171, 255)">Chart</span></h2></a>
        </div>
        <div class="search mt-2">
            <input type="text" name="search" placeholder="search here">
            <label for="search"><i class="fas fa-search"></i></label>
        </div>
        <i class="fas fa-bell mb-2"></i>
        <div class="user mb-3">
            <img src="{% static 'img/user.png' %}" alt="">
        </div>
    </div>
</div>
